@using MVC_News.MVC.Models.Articles
@using MVC_News.MVC.Models.Partials
@model FrontpagePageModel
@{
    ViewData["Title"] = "Frontpage";
    var smallArticleClass = "h-[250px]";
}

<div class="mixin-page-like mixin-page-base mixin-content-grid grow">
    <header class="flex flex-col gap-4 p-4" data-track="full">
        @if (Model.MainArticles[0] is not null)
        {
            <section class="flex flex-row max-md:flex-col gap-4 grow">
                <a href="/articles/@Model.MainArticles[0]!.Id" class="w-full grow border border-gray-900 h-72">
                    @await Html.PartialAsync("Reusables/_CoverImage", new CoverImagePartialViewModel(
                        className: "w-full h-full",
                        src: Model.MainArticles[0]!.HeaderImage
                    ))
                </a>
                <div class="flex flex-col gap-4 overflow-hidden p-4 border border-gray-900">
                    <a class="text-2xl font-bold line-clamp-2 hover:underline" href="/articles/@Model.MainArticles[0]!.Id">
                        @Model.MainArticles[0]!.Title
                    </a>
                    <div class="flex flex-row overflow-hidden justify-between">
                        <div class="text-xs truncate">
                            @Model.MainArticles[0]!.Author.DisplayName
                        </div>
                        <div class="text-xs text-gray-500 truncate">
                            @Model.MainArticles[0]!.DateCreated
                        </div>
                    </div>
                    <div class="text-base overflow-hidden">
                        <div class="line-clamp-5 max-h-[5lh]">
                            re:publica 25 will take place from 26-28 May 2025 at STATION Berlin. The motto for next years’
                            festival for the digital society is “Generation XYZ”. The programme will once again bring the
                            most important topics relating to the internet, its communities and the opportunities and
                            challenges that lie in the digitalization of society to the stages. Join us!
                        </div>
                    </div>
                    <div class="mixin-button-like mixin-button-base theme-button-generic-white justify-center mt-auto">
                        Keep Reading
                    </div>
                </div>
            </section>
        }
    </header>
    <div class="h-0 border-t border-gray-900 w-full"></div>
    <main class="flex flex-col gap-4" data-track="base">
        <header class="flex flex-row justify-center">
            <div class="text-xl font-bold">
                New Arrivals
            </div>
        </header>
        <ol class="grid grid-cols-2 gap-4">
            @foreach (var article in Model.NewestArticles)
            {
                <li class="flex flex-col gap-2 grow overflow-hidden @smallArticleClass">
                    @await Html.PartialAsync("Reusables/_CoverImage", new CoverImagePartialViewModel(
                             className: "w-full grow border border-gray-900",
                             src: article.HeaderImage
                             ))
                    <div class="overflow-hidden">
                        <div class="text-xl font-bold line-clamp-2">
                            @article.Title
                        </div>
                        <div class="flex flex-col overflow-hidden">
                            <div class="text-xs truncate">
                                @article.Author.DisplayName
                            </div>
                            <div class="text-xs text-gray-500 truncate">
                                @article.DateCreated
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </main>

</div>