@using MVC_News.MVC.Models.Articles;
@using MVC_News.MVC.Models.Partials;
@model SearchArticlesPageModel;
@{
    ViewData["Title"] = "Search Articles";
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <form class="flex flex-row gap-4" data-track="base" data-role="page-section">
        @if (Model.AuthorId is not null)
        {
            <input hidden name="authorId" value="@Model.AuthorId" />
        }
        @if (Model.CreatedAfter is not null)
        {
            <input hidden name="createdAfter" value="@Model.CreatedAfter" />
        }
        @if (Model.CreatedBefore is not null)
        {
            <input hidden name="createdBefore" value="@Model.CreatedBefore" />
        }
        @if (Model.OrderBy is not null)
        {
            <input hidden name="orderBy" value="@Model.OrderBy" />
        }
        @if (Model.LimitBy is not null)
        {
            <input hidden name="limitBy" value="@Model.LimitBy" />
        }
        @if (Model.Tags is not null && Model.Tags.Count() > 0)
        {
            <input hidden name="tags" />
            @foreach (var tag in Model.Tags)
            {
                <input hidden name="tags" value="@tag" />
            }
        }

        @await Html.PartialAsync("Reusables/_CharField", new CharFieldPartialViewModel(
            value: Model.Title ?? "",
            name: "title",
            inputAttrs: new Dictionary<string, string>()
            {
                { "type", "text" }
            }
        ))
        <button class="mixin-Sbutton-like mixin-Sbutton-base theme-Sbutton-generic-white">
            Search
        </button>
    </form>
    <hr class="token-divider-x" data-track="base" />
    <header class="flex flex-row gap-[inherit] items-center justify-between" data-track="base" data-role="page-section">
        <div class="token-default-title">
            <span>
                Viewing Results For
            </span>
            <span>
                "@Model.Title"
            </span>
        </div>
    </header>
    <hr class="token-divider-x" data-track="base" />
    <div class="flex flex-col gap-4" data-track="base" data-role="page-section">
        @foreach (var article in Model.Articles)
        {
            <partial name="Other/_SearchArticle" model=@article />
        }
    </div>

</div>