@using MVC_Classifieds.Api.Models.Users
@using MVC_News.MVC.Helpers
@using MVC_News.MVC.Models.Partials
@using MVC_News.MVC.Models.Users
@using System.Text.Json
@model UserProfilePageModel;

@{
    ViewData["Title"] = "User Profile";
}

<div class="mixin-page-like mixin-page-base mixin-content-grid">
    <div class="flex flex-col gap-4" data-track="base">
        <header class="text-2xl">
            User Profile
        </header>
        <div class="flex flex-row gap-2 p-2 border border-gray-900">
            <div class="h-24 aspect-square border border-gray-900"">
                @await Html.PartialAsync("Reusables/_CoverImage", new CoverImagePartialViewModel(
                    className: "w-full h-full",
                    src: "/Media/user.jpg"
                ))
            </div>
            <ul class="flex flex-col">
                <li class="flex flex-row items-center gap-2 text-base">
                    <span class="font-bold">
                        Name
                    </span>
                    <span>
                        @Model.User.DisplayName
                    </span>
                </li>
                <li class="flex flex-row items-center gap-2 text-base">
                    <span class="font-bold">
                        Articles Published
                    </span>
                    <span>
                        @Model.Articles.Count()
                    </span>
                </li>
            </ul>
        </div>
        <ol class="grid min-[445px]:grid-cols-2 grid-cols-1 gap-4">
            @foreach (var article in Model.Articles)
            {
                <li class="flex flex-col gap-2 grow overflow-hidden">
                    <a class="aspect-[16/9] grow border border-gray-900" href="/users/@article.Author.Id">
                        @await Html.PartialAsync("Reusables/_CoverImage", new CoverImagePartialViewModel(
                            className: "w-full h-full",
                            src: article.HeaderImage
                        ))
                    </a>
                    <div class="overflow-hidden">
                        <a class="text-xl font-bold line-clamp-2" href="/articles/@article.Id">
                            @article.Title
                        </a>
                        <div class="flex flex-col overflow-hidden">
                            <div class="text-xs truncate">
                                @Model.User.DisplayName
                            </div>
                            <div class="text-xs text-gray-500 truncate">
                                @article.DateCreated
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
</div>